In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
data = pd.read_csv("CandK1994_replicate.csv")
data.head()

,Unnamed: 0,sheet,chain,co_owned,state,southj,centralj,northj,pa1,pa2,...,firstin2,special2,meals2,open2r,hrsopen2,psoda2,pfry2,pentree2,nregs2,nregs112
0,1,46,1,0,0,0,0,0,1,0,...,0.08,1.0,2.0,6.5,16.5,1.03,NaN,0.94,4.0,4.0
1,2,49,2,0,0,0,0,0,1,0,...,0.05,0.0,2.0,10.0,13.0,1.01,0.89,2.35,4.0,4.0
2,3,506,2,1,0,0,0,0,1,0,...,0.25,NaN,1.0,11.0,11.0,0.95,0.74,2.33,4.0,3.0
3,4,56,4,1,0,0,0,0,1,0,...,0.15,0.0,2.0,10.0,12.0,0.92,0.79,0.87,2.0,2.0
4,5,61,4,1,0,0,0,0,1,0,...,0.15,0.0,2.0,10.0,12.0,1.01,0.84,0.95,2.0,2.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 410 entries, 0 to 409
Data columns (total 47 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  410 non-null    int64
 1   sheet       410 non-null    int64
 2   chain       410 non-null    int64
 3   co_owned    410 non-null    int64
 4   state       410 non-null    int64
 5   southj      410 non-null    int64
 6   centralj    410 non-null    int64
 7   northj      410 non-null    int64
 8   pa1         410 non-null    int64
 9   pa2         410 non-null    int64
 10  shore       410 non-null    int64
 11  ncalls      410 non-null    int64
 12  empft       404 non-null    float64
 13  emppt       406 non-null    float64
 14  nmgrs       404 non-null    float64
 15  wage_st     390 non-null    float64
 16  inctime     379 non-null    float64
 17  firstinc    367 non-null    float64
 18  bonus       410 non-null    int64
 19  pctaff      366 non-null    float64
 20  meals       410 non-null    int64
 21  open        410 non-null    float64
 22  hrsopen     410 non-null    float64
 23  psoda       402 non-null    float64
 24  pfry        393 non-null    float64
 25  pentree     398 non-null    float64
 26  nregs       404 non-null    float64
 27  nregs11     398 non-null    float64
 28  type2       410 non-null    int64
 29  status2     410 non-null    int64
 30  date2       410 non-null    int64
 31  ncalls2     161 non-null    float64
 32  empft2      398 non-null    float64
 33  emppt2      400 non-null    float64
 34  nmgrs2      404 non-null    float64
 35  wage_st2    389 non-null    float64
 36  inctime2    344 non-null    float64
 37  firstin2    330 non-null    float64
 38  special2    392 non-null    float64
 39  meals2      399 non-null    float64
 40  open2r      399 non-null    float64
 41  hrsopen2    399 non-null    float64
 42  psoda2      388 non-null    float64
 43  pfry2       382 non-null    float64
 44  pentree2    386 non-null    float64
 45  nregs2      388 non-null    float64
 46  nregs112    383 non-null    float64
dtypes: float64(30), int64(17)
memory usage: 150.7 KB

In [ ]:
import numpy as np

# Wage bins 설정 (4.2 ~ 5.6, 0.1 간격)
bins = np.arange(4.2, 5.6 + 0.1, 0.1)
labels = [round(b + 0.05, 2) for b in bins[:-1]]  # 중간값 계산

# 2월과 11월 wage 데이터 준비
february_data = data[['state', 'wage_st']].rename(columns={'wage_st': 'wage'})
february_data['month'] = 'February'
november_data = data[['state', 'wage_st2']].rename(columns={'wage_st2': 'wage'})
november_data['month'] = 'November'

# 데이터 합치기
combined_data = pd.concat([february_data, november_data], ignore_index=True)

# Wage 구간화 및 퍼센티지 계산
def calculate_percentage(data, bins, labels, state_name):
    data['wage_bin'] = pd.cut(data['wage'], bins=bins, labels=labels, include_lowest=True)
    counts = data['wage_bin'].value_counts(normalize=True).sort_index() * 100  # 퍼센티지 계산
    return counts

# 2월과 11월의 뉴저지 및 펜실베니아 wage 분포 계산
feb_nj = calculate_percentage(february_data[february_data['state'] == 1], bins, labels, 'New Jersey')
feb_pa = calculate_percentage(february_data[february_data['state'] == 0], bins, labels, 'Pennsylvania')
nov_nj = calculate_percentage(november_data[november_data['state'] == 1], bins, labels, 'New Jersey')
nov_pa = calculate_percentage(november_data[november_data['state'] == 0], bins, labels, 'Pennsylvania')

# 막대그래프 생성 (2월 데이터)
x = np.arange(len(labels))  # 구간 위치
width = 0.35  # 막대 폭

plt.figure(figsize=(12, 6))
plt.bar(x - width / 2, feb_nj, width, label='New Jersey (February)', alpha=0.7)
plt.bar(x + width / 2, feb_pa, width, label='Pennsylvania (February)', alpha=0.7)

# 그래프 꾸미기
plt.title('Wage Distribution Percentage (February): New Jersey vs. Pennsylvania', fontsize=16)
plt.xlabel('Wage Ranges (Midpoints)', fontsize=14)
plt.ylabel('Percentage of Observations (%)', fontsize=14)
plt.xticks(x, labels, rotation=45, fontsize=12)
plt.legend(fontsize=12)
plt.grid(axis='y', linestyle='--', alpha=0.6)
plt.tight_layout()
plt.show()

# 막대그래프 생성 (11월 데이터)
plt.figure(figsize=(12, 6))
plt.bar(x - width / 2, nov_nj, width, label='New Jersey (November)', alpha=0.7)
plt.bar(x + width / 2, nov_pa, width, label='Pennsylvania (November)', alpha=0.7)

# 그래프 꾸미기
plt.title('Wage Distribution Percentage (November): New Jersey vs. Pennsylvania', fontsize=16)
plt.xlabel('Wage Ranges (Midpoints)', fontsize=14)
plt.ylabel('Percentage of Observations (%)', fontsize=14)
plt.xticks(x, labels, rotation=45, fontsize=12)
plt.legend(fontsize=12)
plt.grid(axis='y', linestyle='--', alpha=0.6)
plt.tight_layout()
plt.show()